/* navbar */



.navbar{
    padding: 1rem;
}

.nav-item{
    font-size: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.nav-link{
    color: black;
}

.logo:hover{
    color: #001E6C;
}

.nav-link:hover{
    background-color: rgba(0, 30, 108, .5);
    color: black;
    transition: .1s;
    border-radius: 15px;
}

.img_float_left{
    float: left;
    height: 400px;
    padding-right: 2rem;
}

.page_description{
    margin: auto;
    padding: 2rem 0;
    width: 75%;
}

.order_form{
    clear: both;
    padding-top: 4rem;
    width: 75%;
}

input{
    margin-bottom: 2rem;
    margin-right: 1rem;
}

.payment{
    padding-top: 2rem;
}


